/* a:link:visited:hover {
    color: red;

} */

/* a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: green;
}

a:hover,
a:focus,
a:active {
    color: red
} */

tr:hover {
    background-color: blanchedalmond;
}

input {
    border: 2px solid black;
}

input:focus {
    background-color: aqua;
}

h2>p {
    font-size: 1.4em;
    font-weight: bold;
    color: coral;
}

acronym[title]:hover,
acronym[title]:focus {
    cursor: help;
}



/*
div div两个空格是选中所层级的子代，
div>div 是选中所有的第一层的子代元素，如果第三层没有元素包括一层形成第四层同样会被选中  
div +div 是选中一个元素，该元素在通过选择器中且的关系进行定位得到的元素
？？？伪元素link，visited,hover(盘旋),active,focus,在a元素上的应用没搞清楚？
？？？acronym是什么元素，用户样式是什么样式，为何加上!important是层次最高的样式层级
*/