.box {
  padding: 100px;
}

.block {
  position        : relative;
  width           : 100px;
  height          : 100px;
  background-color: aqua;
}

.block::before {
  position     : absolute;
  content      : '';
  left         : -10px;
  border-right : 10px solid red;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.block::after {
  position     : absolute;
  content      : '';
  bottom       : 0;
  right        : 0;
  border-right : 100px solid red;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.four-color-block {
  position     : relative;
  width        : 10px;
  height       : 10px;
  border-left  : 20px solid yellow;
  border-right : 20px solid red;
  border-top   : 20px solid black;
  border-bottom: 20px solid salmon;
}

.one-color-block {
  position: relative;
  width   : 10px;
  height  : 10px;
  border  : 20px solid salmon;
}

.tranparent-triangle-block {
  position: relative;
  width   : 100px;
  height  : 100px;
  border  : 2px solid salmon;
}

.tranparent-triangle-block::before {
  position     : absolute;
  content      : '';
  left         : -10px;
  top          : 20px;
  border-right : 10px solid salmon;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.tranparent-triangle-block::after {
  position: absolute;
  content : '';
  left    : -7.2px;
  /* 根据勾股定理,需要形成的三角形的宽度为2px,after向内偏移的数值是边框的根号二倍即为1.4*2;结果为10-2.8px */
  top          : 20px;
  border-right : 10px solid white;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
}


.app-download {
  position: relative;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.app-download::before {
  content: '';
  display: inline-block;
  padding: .3em;
  background: inherit;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  position: absolute;
  top: -.2em;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.triangle{
  display: inline-block;
  padding: 4px;
  border: 1px solid #000;;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg) ;
}