html {
  font-size: 62.5%;
}

@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important;
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important;
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important;
  }
}

body {
  font: 16px "Comic Sans MS", cursive;
}


/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 2rem;
}

/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: 'Turret Road', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead,
tfoot {
  background: url(leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  border: 3px solid purple;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr:nth-child(5) {
  background-color: #33adff;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #ff33cc;
}