body {
    font: 16px "Comic Sans MS", cursive;
    background: url("./images/Blue-rule.png");
}
#parent-div {
    position: relative;
    font: bold 200% sans-serif;
  }
  
  #forward, #back {
    position: absolute;
    margin:0px; /* no margin around the elements */
    top: 0px; /* distance from top */
    left: 0px; /* distance from left */
  }
  
  #forward {
    color: blue;
  }
  
  #back {
    color: red;
  }